/* Base styles for the navbar */
.navbar {

    width: 100%;
    height: 100px;
    background: black;
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

/* Styles for the toggle button */
.toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg {
    font-size: 50px;
}

.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

/* Styles for the open state of the navbar */
#open {
    height: 100vh;
    margin-top: 0;
    /* Remove or set margin-top to 0 */
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
}

#open a {
    width: 100%;
    text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    .navbar a {
        width: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: flex;
    }

    /* Hide links when in closed state */
    #close a {
        display: none;
    }
}

@media only screen and (min-width: 600px) {

    /* Hide toggle button when in open state */
    .toggleButton {
        display: none;
    }

    /* Hide links when in closed state */
    .hiddenLinks {
        display: none;
    }

    #open {
        height: 100px;
    }

    #open .links {
        flex-direction: row;
    }
}