.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h1 {
    margin-top: 50px;
    color: black;
    font-size: 35px;
}

.project img {
    width: 700px;
    border-radius: 10px;
}

.project p {
    font-size: 40px;
    color: black;
}

.project svg {
    font-size: 60px;
    color: black;
}

.button {
    padding: 8px 16px;
    /* Adjust padding for a smaller button size */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    /* Adjust font size for a smaller button */
}

.button:hover {
    background-color: #0056b3;
}

/* Media query for smaller screens (e.g., phones) */
@media screen and (max-width: 600px) {
    .project h1 {
        margin-top: 20px;
        /* Adjust the margin to move the title down */
        font-size: 28px;
        /* Reduce the font size of the title */
    }

    .project img {
        width: 100%;
        /* Make the image take the full width of the container */
        max-width: 300px;
        /* Limit the image's maximum width */
    }

    .project p {
        font-size: 24px;
        /* Reduce the font size of skills */
    }

    .project svg {
        font-size: 40px;
        /* Adjust the font size of the GitHub icon */
    }

    .button {
        padding: 10px 16px;
        /* Adjust padding for a more touch-friendly button size on small screens */
        font-size: 14px;
        /* Further reduce the font size for small screens */

    }
}